/* ====================
*   Styling Variables
*  ==================== */

:root {
    --app-width-height: 550px;
    --background-color: #f5f7fb;
    --text-color: #293264;
    --btn-text-color: #f5f7fb;
    --btn-bg-color: #4d5b9e;
}

/* ================
*   General Layout
*  ================ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--app-width-height);
    height: var(--app-width-height);

    font-family: "Inter", sans-serif;
}

/* ================
*   Start Screen
*  ================ */

section.start-screen {
    text-align: center;
}

section.start-screen > h1 {
    margin: 0 auto 7px auto;

    font-family: "Karla", sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

section.start-screen > p {
    margin: 0 auto 29px auto;

    font-size: 1rem;
    font-weight: regular;
}

section.start-screen > button {
    width: 12.0625em;
    height: 3.25em;

    border: none;
    border-radius: 1em;

    font-family: inherit;
    font-size: 1rem;
    font-weight: medium;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);

    cursor: pointer;
}

/* --- Background for Start Screen --- */

:root {
    --start-bubble-1-width: 158px;
    --start-bubble-2-height: 118px;
}

section.start-screen > div.start-bubble-container,
section.quiz-screen > div.quiz-bubble-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: var(--app-width-height);
    height: var(--app-width-height);

    background-color: var(--background-color);
}

section.start-screen > div.start-bubble-container > svg.start-bubble-1 {
    position: absolute;
    left: calc(var(--app-width-height) - var(--start-bubble-1-width));
}

section.start-screen > div.start-bubble-container > svg.start-bubble-2 {
    position: absolute;
    top: calc(var(--app-width-height) - var(--start-bubble-2-height));
    left: 0;
}

/* ================
*   Quiz Screen
*  ================ */

/* --- Background for Quiz Screen --- */

:root {
    --quiz-bubble-1-width: 162px;
    --quiz-bubble-2-height: 62px;
}

section.quiz-screen > div.quiz-bubble-container > svg.quiz-bubble-1 {
    position: absolute;
    left: calc(var(--app-width-height) - var(--quiz-bubble-1-width));
}

section.quiz-screen > div.quiz-bubble-container > svg.quiz-bubble-2 {
    position: absolute;
    top: calc(var(--app-width-height) - var(--quiz-bubble-2-height));
    left: 0;
}
