/* ====================
*   Styling Variables
*  ==================== */

:root {
    --app-width-height: 550px;
    --quiz-question-width: 400px;
    --background-color: #f5f7fb;
    --text-color: #293264;
    --btn-text-color: #f5f7fb;
    --btn-bg-color: #4d5b9e;
}

/* ================
*   General Layout
*  ================ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: slategray;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--app-width-height);
    height: var(--app-width-height);

    font-family: "Inter", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: inherit;
    height: inherit;
}

/* ================
*   Start Screen
*  ================ */

section.start-screen {
    text-align: center;
}

section.start-screen > h1 {
    margin: 0 auto 7px auto;

    font-family: "Karla", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

section.start-screen > p {
    margin: 0 auto 29px auto;

    font-size: 1rem;
    font-weight: 400;
}

section.start-screen > button {
    width: 12.0625em;
    height: 3.25em;

    border: none;
    border-radius: 1em;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);

    cursor: pointer;
}

/* --- Background for Start Screen --- */

:root {
    --start-bubble-1-width: 158px;
    --start-bubble-2-height: 118px;
}

section.start-screen > div.start-bubble-container,
section.quiz-screen > div.quiz-bubble-container {
    position: absolute;
    top: calc(50vh - (var(--app-width-height) / 2));
    left: calc(50vw - (var(--app-width-height) / 2));
    z-index: -1;

    width: var(--app-width-height);
    height: var(--app-width-height);

    background-color: var(--background-color);
}

section.start-screen > div.start-bubble-container > svg.start-bubble-1 {
    position: absolute;
    left: calc(var(--app-width-height) - var(--start-bubble-1-width));
}

section.start-screen > div.start-bubble-container > svg.start-bubble-2 {
    position: absolute;
    top: calc(var(--app-width-height) - var(--start-bubble-2-height));
    left: 0;
}

/* ================
*   Quiz Screen
*  ================ */

section.quiz-screen {
    height: inherit;
}

div.quiz-end-row {
    display: flex;
    align-items: center;
    justify-content: center;

    width: inherit;
    margin-top: 1em;
}

button.check-answers-btn {
    width: 12.0625em;
    height: 3.25em;
    /*margin: 1.25em auto 0 auto;*/

    border: none;
    border-radius: 1em;

    font-family: inherit;
    font-size: 0.64rem;
    font-weight: 600;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);

    cursor: pointer;
}

/* --- Questions & Answers --- */

form#quiz-questions {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    width: var(--quiz-question-width);
    height: inherit;
}

div.question {
    font-family: "Karla", sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--text-color);
}

hr.question-underline {
    margin-top: 1.2em;

    border-top: 0.8px solid #dbdef0;
}

div.answers {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 0.8175em;
    row-gap: 1.5em;

    font-size: 0.5rem;
    font-weight: 500;
}

label.answer-label {
    padding: 0.35em 0.8em;
    min-width: 3.6875em;

    border: 0.8px solid #4d5b9e;
    border-radius: 0.5em;
}

label.answer-label:hover {
    background-color: yellow;
}

input[type="radio"].answer-radio {
    display: none;
}

input[type="radio"].answer-radio:checked + label.answer-label {
    background-color: #d6dbf5;
    border: 0.8px solid #d6dbf5;
}

/* --- Utility Classes for Answer Validation --- */

.is-correct {
    background-color: green;
}

.is-wrong {
    background-color: red;
}

.not-selected {
    opacity: 0.5;
}

/* --- Background for Quiz Screen --- */

:root {
    --quiz-bubble-1-width: 162px;
    --quiz-bubble-2-height: 62px;
}

section.quiz-screen > div.quiz-bubble-container > svg.quiz-bubble-1 {
    position: absolute;
    left: calc(var(--app-width-height) - var(--quiz-bubble-1-width));
}

section.quiz-screen > div.quiz-bubble-container > svg.quiz-bubble-2 {
    position: absolute;
    top: calc(var(--app-width-height) - var(--quiz-bubble-2-height));
    left: 0;
}
